<form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="save" value="1">
    <section class="edit-recipe__features edit-recipe__mainFeatures">
        <header><h2>Główne</h2></header>
        <div>
            <label for="name">Nazwa</label>
            <input type="text" id="name" name="name" autocomplete="off" value="{{ recipe.name }}">
        </div>
        <div>
            <label for="image">Zdjęcie</label>
            <input type="file" id="image" name="image">
        </div>
    </section>
    <section class="edit-recipe__features edit-recipe__categories">
        <header><h2>Kategorie<button id="add_category"><img src="/Files/Imgs/add_box.png" alt="Dodaj"></button></h2></header>
        {% set counter = 0 %}
        {% for category in recipe.categories %}
            {% set renderSubCatSelect = 0 %}
            <div class="edit-recipe__categories__category">
                <select name="categories[{{ counter }}][0]" id="categories[{{ counter }}][0]">
                    <option value="-1">Wybierz kategorię</option>
                    {% for possibleCat in possibleCategories %}
                        <option
                            value="{{ possibleCat.id }}"
                            {% if possibleCat.id == category.id %}
                                selected
                                {% if possibleCat.children %}
                                    {% set renderSubCatSelect = 1 %}
                                {% endif %}
                            {% endif %}
                        >{{ possibleCat.name }}</option>
                    {% endfor %}
                </select>
                {% if renderSubCatSelect %}
                    <select name="categories[{{ counter }}][1]" id="categories[{{ counter }}][1]">
                        <option value="-1">Wybierz kategorię</option>
                        {% for possibleCat in possibleCategories %}
                            {% if possibleCat.id == category.id %}
                                {% for possibleChildCat in possibleCat.children %}
                                    {% for childCat in category.children %}
                                        <option
                                            value="{{ possibleChildCat.id }}" 
                                            {% if possibleChildCat.id == childCat.id %}
                                                selected
                                            {% endif %}
                                        >{{ possibleChildCat.name }}</option>
                                    {% endfor %}
                                    {% if not category.children and renderSubCatSelect == category.id %}
                                        <option
                                                value="{{ possibleChildCat.id }}"
                                                {% if possibleChildCat.id == childCat.id %}
                                                    selected
                                                {% endif %}
                                        >{{ possibleChildCat.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}
    </section>
    <section class="edit-recipe__features edit-recipe__ingredients">
        <header><h2>Składniki<button id="add_new_ingredient"><img src="/Files/Imgs/add_box.png" alt="Dodaj"></button></h2></header>
        {% set counter = 0 %}
        {% for ingredient in recipe.ingredients %}
            <div class="edit-recipe__ingredients__ingredient">
                <div>
                    <label for="ingredient[{{ counter }}][name]">Nazwa</label>
                    <input 
                        type="text" 
                        name="ingredients[{{ counter }}][name]" 
                        id="ingredient[{{ counter }}][name]" 
                        autocomplete="off"
                        value="{{ ingredient.name }}"
                    >
                </div>
                <div>
                    <label for="ingredient[{{ counter }}][amount]">Ilość</label>
                    <input 
                        type="text" 
                        name="ingredients[{{ counter }}][amount]" 
                        id="ingredient[{{ counter }}][amount]" 
                        autocomplete="off"
                        value="{{ ingredient.amount }}"
                    >
                </div>
                <div>
                    <label for="ingredient[{{ counter }}][unit]">Jednostka</label>
                    <input 
                        type="text" 
                        name="ingredients[{{ counter }}][unit]" 
                        id="ingredient[{{ counter }}][unit]" 
                        autocomplete="off"
                        value="{{ ingredient.unit }}"
                    >
                </div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}
    </section>
    <section class="edit-recipe__features edit-recipe__content">
        <header><h2><label for="content">Sposób przygotowania</label></h2></header>
        <textarea name="content" id="content">{{ recipe.content }}</textarea>
    </section>
    <button>Zapisz</button>
</form>
<script>let categories = JSON.parse('{{ categoriesJson|raw }}')</script>
<script src="/Files/Js/edit_recipe.js"></script>